<h1>{{title}}</h1>
<button (click)="happy = !happy">😀</button>
<section *ngIf="happy">
  <img title="Happy" src="http://cdn.shopify.com/s/files/1/1061/1924/products/Happy_cat_emoji_icon_87ab6b39-5f08-48a5-a89a-1f5d3312e159_grande.png?v=1571606090" alt="emoji happy">
</section>
<button (click)="sad = !sad">😢</button>
<section *ngIf="sad">
  <img title="Sad" src="https://cdn.shopify.com/s/files/1/1061/1924/products/Tear_From_One_Eye_Cat_Emoji_ios10_large.png?v=1571606090" alt="emoji sad">
</section>
<button (click)="crazy = !crazy">🤪</button>
<section *ngIf="crazy">
  <img title="Crazy" src="https://cdn0.iconfinder.com/data/icons/cat-emoji-4/512/24_cat_emoji_face_funny_expression_mood_crazy-512.png" alt="emoji crazy">
</section>